<div class="container">
  <label for="video-upload">Upload Video File</label>
  <input #inputFile (change)="videoUploadHandle($event)" type="file" name="video-upload" accept="video/*">
  <!-- video/ -->
</div>

<div class="frames_video_container" #frames_container>

  <ng-container>
    <video appVideoHandler #playableVideo controls="false" id="video_element">
    </video>
  </ng-container>
</div>
<br>
<br>
<br>

<div class="last_wrapper">
  <div class="frames_images_container" #frames_arr_cont>
  </div>
</div>
